{% if topics %}
    <ul>
		{% for topic in topics %}
		    <li><a href="{% url 'topic-detail' topic.id %}">{{ topic.name }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No topics have been created.</p>
{% endif %}

<p> New Topic: </p>
<form action="{% url 'topic-list' %}" method="post">
{% csrf_token %}
<input type="text" name="name">
<input type="submit" value="Submit">
</form>

<br>
<!-- TODO(avesh): Get rid of these hard-coded paths -->
{% if not request.user.is_authenticated %}
Login <a href="/accounts/login"> Here</a>
{% else %}
You may logout <a href="/accounts/logout"> here</a> {{ request.user.username }}.
{% endif %}
